.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0px;
    margin: 0px;
    border: 4px solid black;
}

/* .grid * {
    border: 4px solid black;
} */

.container {
    margin: 0 auto;
    width: 1000px;
}