.grids{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    /* grid-template-columns: 1fr 1fr; */
}
.dropdowns {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.page {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.chart{
    max-width: 100%;
}