.grids{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
/* 
.grids *{
    border: 4px solid black;
} */

.page {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.chart{
    max-width: 100%;
}