.grids{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;

}
.dropdowns {
    display: flex;
    justify-content: space-around;
    align-items: center; 
}


.page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    max-width: 100%;
}

.played{
    text-align: center;

}

@media only screen and (max-width: 600px){
    .page{
        grid-template-columns: 1fr;
        font-size: 12px;
    }
    .played{
        font-size: 20px;
        
    }
    .heading {
        font-size: 14px;      
    }
    .trend{
        font-size: 14px;
    }
  }
  
  
  
  
  
  
  