.playerStatsGrid{
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    text-align: center;
    margin: 0 auto;
    
    font-size: 16px;
    border: 2px solid black;
    max-width: 50%;
    background: white;
}

.playerStatsGrid * {
    /* border: 4px solid red; */
    margin: 2px;
    /* font-size: 20px; */
}

.playerTable {
    font-size: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.qbStats{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    margin: 2px auto;
    max-width: 90%;
    font-size: 16px;
    
    
    
}

.qbStats * {
    margin: 5px auto;
}



.skillStats{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    margin: 2px auto;
    max-width: 90%;
    font-size: 16px;
}
.skillStats * {
    margin: 5px auto;
}

.defenseStats{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    margin: 2px auto;
    max-width: 90%;
    font-size: 16px;
}

.defenseStats * {
    margin: 5px auto;
}


@media only screen and (max-width: 600px){
    .qbStats  {
        font-size: 9px;
        max-width: 95%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    }

    .skillStats  {
        font-size: 9px;
        max-width: 95%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .defenseStats  {
        font-size: 9px;
        max-width: 95%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .playerStatsGrid {
        max-width: 95%;
    }
    .playerTable * {
        font-size: 16px;
    }
    .playerStatsGrid{
        font-size: 12px;
    }
    .heading {
        font-size: 7px;
    }
    .owner {
        display: none;
    }
  }
  
  
  
  
  
  
  