.layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
  
}

.playerGrid {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    height: 110px;
    border: 1px solid black;
    /* border-radius: 20px; */
    margin: 10px;
    
    box-shadow: 1px 1px 1px; 
    background-color:white;
    
}
.playerGrid * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}

.playerImage {
    width: 150px;
    height: 110px;
    margin: auto 0;
    /* border-radius: 10px; */
}
.pName{
    padding-left: 10px;
     
}

@media only screen and (max-width: 600px){
    .layout {
        
        grid-template-columns: 1fr 1fr;
    }
    .playerGrid {
        font-size: 10px;
        height: 70px;
        max-width: 90%;
        margin: 10px;
        grid-template-columns: 2fr 4fr 1fr;
    }
    .playerImage {
        max-height: 70px;
        max-width: 100%;
    }
  }
  
  
  
  
  
  
  